/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

.nav_bar{
    background-color: #FFDBAA;
    font-size: 16;
    color: #553100;
    display: flex;
  }
  .nav_buttons{
    float:right;
    justify-content: flex-end;
  }
  .nav_button{
    background-color: #805215;
    color: white;
    font-size: 14px;
    text-align: center;
    flex:1;
    margin:15px;
    justify-content: flex-end;
    width:100px;
  }
  
  .button{
    background-color: #805215;
    color: white;
    font-size: 14px;
    text-align: center;
    width: 100%
  }
  
  .main{
    background-color: #D4A76A;
    display:flex
  }
  .footer{
    background-color: #D4A76A;
  }
  
  .white_box{
    background-color: white;
    flex: 1;
    outline: 1px solid black;
    padding: 5px;
    width: 150px;
    margin: 50px;
  }
  
  .box_Title{
    text-align: center;
  }
  
  .about_us{
      background-color: white;
      outline: 1px solid black;
      padding: 5px;
      width: 95%;
      margin-left: 25px;
  }
  